
{% extends 'mainindex.html' %}

{% block contents %}

    <style>
    .visual {position: relative;}
    .visual button {position: absolute; z-index: 10; top:50%; transform: translate(-50)}
    </style>

  <section class="visual">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </section>


<link rel="stylesheet"  type="text/css" href={{ url_for('static', filename='css/slick.css') }}>
    <link rel="stylesheet"  type="text/css" href={{ url_for('static', filename='css/slick-theme.css') }}>
<script src="{{ url_for('static', filename = 'js/slick.min.js') }}" ></script>


<script type="text/javascript">
$('.visual').slick();
</script>

{% endblock contents %}